<head>
    <title>Project</title>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <span class="navbar-brand" style="color: black;"><strong>MoneyClip</strong></span>
            </div>
            <ul class="nav navbar-nav">
                <li style="color: black;" class="active"><a href="#"><span class="glyphicon glyphicon-home"></span>
                        Home</a></li>
                <li style="color: black;"><a href="#"><span style="color: black;"
                            class="	glyphicon glyphicon-globe"></span>
                        About Us</a></li>
                <li style="color: black;"><a href="#"><span style="color: black;"
                            class="glyphicon glyphicon-envelope"></span>
                        Mail Us</a></li>
                <li style="color: black;"><a href="#"><span style="color: black;"
                            class="glyphicon glyphicon-earphone"></span>
                        Call Us</a></li>
            </ul>
        </div>
    </nav>
    <div *ngIf="(flag==2)">
        <h3><i><b>{{errorMessage}}</b></i></h3>
        <a (click)="reSignUp()">Sign-up Again</a>
    </div>

    <div class="loginbox" *ngIf="(!Flag)">

        <h1>Sign Up</h1>
        <form (ngSubmit)="validateUser()" #enForm="ngForm">
            <label>User Name</label>
            <input type="text" class="form-control" [(ngModel)]=user.userName #name="ngModel"
                placeholder="Enter UserName" id="userName" name="userName" pattern="^[A-Za-z0-9\s]{4,20}$" required>
            <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <small class="text-danger">
                    <small *ngIf="name.errors.required || name.errors.pattern">
                        User Name mandatory length 4-20
                    </small>
                </small>
            </div>

            <label>Full Name</label>
            <input type="text" class="form-control" #name2="ngModel" pattern="^[A-Za-z\s]{3,20}$"
                placeholder="Enter Full Name" id="fullName" name="fullName" [(ngModel)]=user.fullName required>
            <div *ngIf="name2.invalid && (name2.dirty || name2.touched)">
                <small class="text-danger">
                    <small *ngIf="name2.errors.required || name2.errors.pattern">
                        Name is required.
                    </small>
                </small>
            </div>

            <label>Password</label>
            <input type="password" class="form-control" pattern="^[A-Za-z0-9\s]{5,100}$" #pass="ngModel"
                placeholder="Password" id="pass" name="pass" [(ngModel)]=user.pass required>
            <div *ngIf="pass.invalid && (pass.dirty || pass.touched)">
                <small class="text-danger">
                    <small *ngIf="pass.errors.required ">
                        Password is required.
                    </small>
                    <small *ngIf=" pass.errors.pattern">
                        Min length 5.
                    </small>
                </small>
            </div>

            <label>PIN</label>
            <input type="password" class="form-control" #pin="ngModel" pattern="^\d{4,8}$" placeholder="PIN" id="pin"
                name="pin" [(ngModel)]=user.pin required>
            <div *ngIf="pin.invalid && (pin.dirty || pin.touched)">
                <small class="text-danger">
                    <small *ngIf="pin.errors.required ">
                        PIN is mandatory
                    </small>
                    <small *ngIf="pin.errors.pattern">
                        len max:8,min:4, All digits.
                    </small>

                </small>
            </div>

            <label>Account Number</label>
            <input type="text" name="acc" [(ngModel)]=user.accNumber class="form-control" placeholder="Account Number"
                pattern="^[0-9]{12}$" #acc="ngModel" required />
            <div *ngIf="acc.invalid && (acc.dirty || acc.touched)">
                <small class="text-danger">
                    <small *ngIf="acc.errors.required ">
                        Account No. mandatory.
                    </small>
                    <small *ngIf=" acc.errors.pattern">
                        Account No. 12 digit.
                    </small>

                </small>
            </div>

            <label>Email</label>

            <input type="email" class="form-control" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel"
                placeholder="E-mail" id="eMail" name="eMail" [(ngModel)]=user.eMail required>

            <div *ngIf="email.invalid && (email.dirty || email.touched)">
                <small class="text-danger">
                    <small *ngIf="email.errors.required">
                        E-Mail is required.
                    </small>
                    <small *ngIf="email.errors.pattern">
                        Invalid Email
                    </small>
                </small>
            </div>


            <label>Phone Number</label>
            <input type="text" name="no" pattern="^[0-9]{10}$" #no="ngModel" [(ngModel)]=user.pNumber
                class="form-control" placeholder="Mobile Number" #mobile="ngModel" required />
            <div *ngIf="no.invalid && (no.dirty || no.touched)">
                <small class="text-danger">
                    <small *ngIf="no.errors.required ">
                        Phone Number is mandatory.
                    </small>
                    <small *ngIf=" no.errors.pattern">
                        Invalid Number.
                    </small>
                </small>
            </div>

            <input type="submit" value="Sign-Up" [disabled]="enForm.form.invalid">
        </form>
    </div>

    <div class="loginbox" *ngIf="(Flag)">
        <img src="/assets/Images/avatar.svg" class="avatar" alt="User">
        <h3>Confirm Password</h3>
        <form (ngSubmit)="createUser(enForm1)" #enForm1="ngForm">
            <label>Password</label>
            <input type="password" class="form-control" [(ngModel)]=confirmPass placeholder="Password" id="confirmPass"
                name="confirmPass" required>
            <label>PIN</label>
            <input type="password" class="form-control" [(ngModel)]=pin placeholder="PIN" id="pin" name="pin" required>
            <input type="submit" value="Confirm-details" [disabled]="enForm1.form.invalid">
        </form>
    </div>

</body>