
    <body>
         
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <span class="navbar-brand" style="color: black;"><strong>MoneyClip</strong></span>
                </div>
                <ul class="nav navbar-nav">
                    <li  style="color: black;"><a [routerLink]="['/successpage']"><span style="color: black;"
                            class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li style="color: black;"><a href=""><span style="color: black;" class="	glyphicon glyphicon-globe"></span>
                            About Us</a></li>
                    <li style="color: black;"><a href=""><span style="color: black;" class="glyphicon glyphicon-envelope"></span>
                            Mail Us</a></li>
                    <li style="color: black;"><a href=""><span style="color: black;"  class="glyphicon glyphicon-earphone"></span>
                            Call Us</a></li>
                </ul>

                            <ul class="nav navbar-nav navbar-right">
                                <li style="color: black;"><a [routerLink]="['../successpage/profile']"><span style="color: black;" class="glyphicon glyphicon-user"></span>Profile</a></li>
               <li style="color: black;"><a [routerLink]="['']"><span style="color: black;" class="	glyphicon glyphicon-off"></span>Log Off</a></li>
               
                              </ul>
                            
                    
            </div>
        </nav>
        
    
        
        <div class="box">
          <h3><b>MoneyClip</b></h3>
        <div *ngIf="transType==1 " >
          <small class="text-danger">{{errorMessage}}</small>
            <form (ngSubmit)="proceedDeposit(depositForm)" #depositForm="ngForm">
                <div class="form group">
                    <label for="money">Amount to be added in the wallet</label>
                    <input style="width: 200px;" type="number" name="money" class="form-control" ng-disabled="!transFlag" ngModel #Money="ngModel">
                  </div>
                    
                    <br>

                    <input *ngIf="!transFlag" class="btn btn-primary" type="submit" value="Proceed" [disabled]="!depositForm.form.valid">
            </form>

        </div>
        <div *ngIf = "(transType == 1 && transFlag)">
            <form (ngSubmit)="deposit(depositForm)" #depositForm="ngForm">
              <div class="form group">
                <label for="pin">Enter Transaction Pin to proceed...</label>
                <input style="width: 200px;" type="password"  name="pin" class="form-control" ngModel #pin="ngModel" pattern="\d{4,8}$"> 
                <div *ngIf="pin.invalid && (pin.dirty || pin.touched)">
                  <small class="text-danger">
                      <small *ngIf="pin.errors.required ">
                          PIN!
                      </small>
                      <small *ngIf="pin.errors.pattern">
                           All digits min 4.
                      </small>

                  </small>
              </div>
              
              </div>
              <br>
              <input type="submit" value="Deposit" class="btn btn-primary" [disabled]= "!depositForm.form.valid">
            </form>
          </div>
          
        
            <div *ngIf="(transType==2 )">
              <small class="text-danger">{{errorMessage}}</small>
            <form (ngSubmit)="proceedWithdraw(withdrawForm)" #withdrawForm="ngForm">
              <div class="form group">
                  <label for="money">Amount to be deducted from the wallet</label>
                  <input type="number" name="money" style="width: 200px;" class="form-control" ngModel #Money="ngModel">
                </div>
                  <br>
                  <input type="submit" class="btn btn-primary" *ngIf="!transFlag" value="Proceed" [disabled]="!withdrawForm.form.valid">
          </form>
          </div>
          <div *ngIf = "(transType == 2 && transFlag)">
            <form (ngSubmit)="withdraw(withdrawForm)" #withdrawForm="ngForm">
              <div class="form group">
                <label for="pin">Enter Transaction Pin to proceed...</label>
                <input type="password" name="pin" style="width: 200px;" class="form-control" ngModel #pin="ngModel" pattern="\d{4,8}$"> 
             
                <div *ngIf="pin.invalid && (pin.dirty || pin.touched)">
                  <small class="text-danger">
                      <small *ngIf="pin.errors.required ">
                          PIN!
                      </small>
                      <small *ngIf="pin.errors.pattern">
                           All digits min 4.
                      </small>

                    </small>
              </div>
             
              </div>
              <br>
              <input type="submit" value="DeCredit" class="btn btn-primary" [disabled]= "!withdrawForm.form.valid">
            </form>
          </div>
          <div *ngIf="(transType==3)">
            <small class="text-danger">{{errorMessage}}</small>
            <form (ngSubmit)="proceedFundTransfer(fundForm)" #fundForm="ngForm">
              <div class="form group">
                  <label for="money">Amount to be Sent</label>
                  <input style="width: 200px;" type="number" name="money"  class="form-control" ngModel #Money="ngModel">
                </div>
                <div class="form group">
                  <label for="money">Reciever AccountId</label>
                  <input style="width: 200px;" type="number" name="rId" class="form-control" ngModel #Money="ngModel">
                </div>
                <div class="form group">
                  <label for="money">Re-enter Reciever AccountId</label>
                  <input style="width: 200px;" type="number"   name="rRId" class="form-control" ngModel #Money="ngModel">
                </div>
                  <br>
                  <input type="submit" value="Proceed" *ngIf="!transFlag" class="btn btn-primary" [disabled]="!fundForm.form.valid">
          </form>
          </div>
          <div *ngIf="(transType==3 && transFlag)"> 
            
            <form (ngSubmit)="fundTransfer(withdrawForm)" #withdrawForm="ngForm">
              <div class="form group">
                <label for="transactionPin">Enter Transaction Pin to proceed...</label>
                <input type="password" style="width: 200px;" name="pin" class="form-control" ngModel #pin="ngModel" pattern="\d{4,8}$"> 
             
                <div *ngIf="pin.invalid && (pin.dirty || pin.touched)">
                  <small class="text-danger">
                      <small *ngIf="pin.errors.required ">
                          PIN!
                      </small>
                      <small *ngIf="pin.errors.pattern">
                           All digits min 4.
                      </small>

                  </small>
              </div>
              </div>
              <br>
              <input type="submit"  value="Transfer" class="btn btn-primary" [disabled]= "!withdrawForm.form.valid">
            </form>
          </div>
         
          <div class="jumbotron jumbotron-fluid" *ngIf="transType==5">

            <form (ngSubmit)="delete()">
              <h3>Are you sure you want to delete your account?</h3>
              <br>
              <input type="submit" value="Delete Account Permanently" class="btn btn-primary">
            </form>
          </div>
      
      
        <div *ngIf="transType==4">
          <form (ngSubmit)="edit(e)" #e="ngForm">
            Edit:
            <br>
            <div class="form group">
              <label>Name</label><br>
              <input type="text" name="name" placeholder={{user.fullName}} pattern="^[A-Za-z\s]{3,100}$" #name="ngModel" [(ngModel)]=user.fullName>
              <div *ngIf="name.invalid "> <small class="text-danger"  *ngIf="name.errors.pattern">  Invalid Name.
            </small> </div>
           </div>
           <br>
            <div class="form group">
              <label>User Name</label><br>
              <input type="text" name="name1" placeholder={{user.userName}} pattern="^[A-Za-z0-9\s]{4,20}$" #name1="ngModel" [(ngModel)]=user.userName>
              <div *ngIf="name1.invalid "> <small class="text-danger"  *ngIf="name1.errors.pattern">  Invalid User Name.
              </small> </div>
            </div>
            <br>
            <div class="form group">
              <label>Mobile Number</label><br>
              <input type="text" name="no" placeholder={{user.pNumber}} pattern="^[0-9]{10}$" #no="ngModel" [(ngModel)]=user.pNumber>
              <div *ngIf="no.invalid "> <small class="text-danger"  *ngIf="no.errors.pattern"> Invalid Mobile Number.
              </small> </div>
            </div>
            <br>
            <div class="form group">
              <label>E-Mail</label><br>
              <input type="text" name="email" placeholder={{user.eMail}} pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" #email="ngModel" [(ngModel)]=user.eMail>
              <div *ngIf="email.invalid ">   <small class="text-danger" *ngIf="email.errors.pattern"> Invalid Email Id.
              </small> </div>
            </div>
            <br>
            <input type="submit"  value="confirm" class="btn btn-primary" [disabled]= "!e.form.valid">
  

          </form>
         </div>

        </div>
        
        
          <div class="footer" >

    
            <div class="footer-copyright text-center ">© 2020 Copyright:
              <a> MoneyClip.com</a>
            </div>
            
           
        
        </div>
      </body>