
    <body>
        
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">MoneyClip</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#"><span
                            class="glyphicon glyphicon-home"></span> Home</a></li>
                    <li><a href="#"><span class="	glyphicon glyphicon-globe"></span>
                            About Us</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-envelope"></span>
                            Mail Us</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-earphone"></span>
                            Call Us</a></li>
                </ul>

                            <ul class="nav navbar-nav navbar-right">
                                <li><a [routerLink]="['\profile']"><span class="	glyphicon glyphicon-user"></span>Profile</a></li>
               <li><a [routerLink]="['']"><span class="	glyphicon glyphicon-off"></span>Log Off</a></li>
               
                              </ul>
                            
                    
            </div>
        </nav>
        <h2>WELCOME</h2>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h3 class="display-4"><a [routerLink]="['/balance']">Add/Transfer/View Balance</a></h3>
                <h3><a >Transaction</a></h3>
            </div>
        </div>

        </body>