 <head>
        <title>Project</title>
    </head>

    <body>
        
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">MoneyClip</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#"><span
                            class="glyphicon glyphicon-home"></span> Login</a></li>
                    <li><a href="#"><span class="	glyphicon glyphicon-globe"></span>
                            About Us</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-envelope"></span>
                            Mail Us</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-earphone"></span>
                            Call Us</a></li>
                </ul>
            </div>
        </nav>
        <div>
        <div class="loginbox">
            <img src="/assets/Images/avatar.svg"  class="avatar" alt="User">
            <h1>Login</h1>
            <form #enForm="ngForm"  novalidate> 
                <div class="form-group">
                    <label>User Name:</label>
                    <input type="text" [(ngModel)]=username                 name="name" class="form-control" #Uname
                     [class.is-invalid]="Uname.invalid && Uname.touched" required/> 
                    <!-- <small class="text-danger" 
                    [class.d-none]="Uname.valid || Uname.untouched">
                     User name is mandatory</small> -->
                </div>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" 
                     name="pass" class="form-control" #pass [(ngModel)]=password
                     [class.is-invalid]="pass.invalid && pass.touched" required/> 
                    <!-- <small class="text-danger" 
                    [class.d-none]="pass.valid || pass.untouched">
                     Password is mandatory</small> -->
                </div>
                <input type="submit" name="submit" value="Login" (click)="onSubmit()">
                <a href="#">Forgot password?</a>
                <a [routerLink]="['/signup']">SignUp?</a>
            </form>
        </div>
        <h3 *ngFor="let a of user2">
            <h4>{{a.userName}}</h4>
            <h4>{{a.pass}}</h4>


        </h3>
        </div>
         <h2>WELCOME</h2>
        
    </body>
    
